<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyrics.qq.shardingerror.mapper.TCheckTaskMapper">

    <select id="getColumnarStatistics"
            resultType="com.lyrics.qq.shardingerror.vo.PlanColumnarStatisticsResultVo">
      select  * from ( select *
        from t_check_task where
              executeTime BETWEEN #{startTime} and #{endTime}  ) b limit 0,10
    </select>
    <select id="getInCondition" resultType="java.util.Map">
         select * from (     select *
        from t_check_task where
              executeTime in (#{startTime},#{endTime}) ) b limit 0,10
    </select>
    <select id="getInConditionOne" resultType="java.util.Map">

                 select * from (     select *
        from t_check_task where
              executeTime in (#{startTime}) ) b limit 0,10
    </select>


</mapper>
